/* Modified from https://css-tricks.com/snippets/css/css-triangle/ */

.arrow {
  width: 0; 
  height: 0; 
  border: 5px solid transparent;
}

.arrow.up {
  border-bottom: 5px solid #0077C8;
}
.arrow.down {
  border-top: 5px solid #0077C8;
}
.arrow.left {
  border-right: 5px solid #0077C8;
}
.arrow.right {
  border-left: 5px solid #0077C8;
}

/* Implementation notes:
 *  To change color of arrows, override last four classes. Can also do this inline in HTML.
 *  To change size of arrows, override all of the stuff, I guess. Link to this file anyways,
 *    to show the source, but copy-paste it all into a style element to change it.
 */