.cat0{
	background-color: rgb(255,0,0);
}

.cat1{
	background-color: rgb(230,26,0);
}

.cat2{
	background-color: rgb(204,51,0);
}

.cat3{
	background-color: rgb(179,77,0);
}

.cat4{
	background-color: rgb(153,102,0);
}

.cat5{
	background-color: rgb(128,128,0);
}

.cat6{
	background-color: rgb(102,153,0);
}

.cat7{
	background-color: rgb(77,179,0);
}

.cat8{
	background-color: rgb(51,204,0);
}

.cat9{
	background-color: rgb(26,230,0);
}

.cat10{
	background-color: rgb(0,255,0);
}
