td{
  border:2px solid #DFF4DD;
  margin:0px;
}
.nope{
  display:none !important;
}

table.data>tbody>tr.data>td:nth-of-type(2n+3) {
    background-color: #C0C8D6;
}

table.data>tbody>tr.data>td:nth-of-type(2n+4) {
    background-color: #838487;
}


td.teamNumber {display: block; background-position: center; background-size: 4.5em;	background-repeat: no-repeat;}
td.teamNumber>a{display:block;width:100%;height:100%;}

td.teamNumber.t1323 { background-color:#1653b7; }
td.teamNumber.t254 { background-color:#2b62e2; }
td.teamNumber.t604 { background-color:#3bba14; }
td.teamNumber.t1678 { background-color:#00ff00; }
td.teamNumber.t971 { background-color:#fbc72c; }
td.teamNumber.t118 { background-color:#efba1c; }
td.teamNumber.t973 { background-color:#ff9000; }
td.teamNumber.t1671 { background-color:#f00000; }
td.teamNumber.t1296 { background-color:#48f442; }

span.teamNumber.t1678,
span.teamNumber.t1538,
/*span.teamNumber.t1323,*/
span.teamNumber.t973,
span.teamNumber.t971,
span.teamNumber.t604,
span.teamNumber.t254,
span.teamNumber.t148,
span.teamNumber.t118
{color:rgba(0,0,0,0);}


td.teamNumber.t1678 {
	background-image: url(https://avatars1.githubusercontent.com/u/6336235?v=3&s=280);
}
td.teamNumber.t1678.narrow {
	background-image: url(https://yt3.ggpht.com/-tCmEMyV1coQ/AAAAAAAAAAI/AAAAAAAAAAA/uZq5Qo_g_Qg/s900-c-k-no-mo-rj-c0xffffff/photo.jpg);
}

td.teamNumber.t1538{
	background-image: url(http://www.team1538.com/site/files/small_543.png);
	background-color: black;
	background-size: 285%;
	background-position: center -50%;
	background-position: center 1px;
}
td.teamNumber.t1538.narrow{
	background-size: 265%;
	background-position: 1% 115%;
}

td.teamNumber.t1323 {
	background-image: url(/1323/images/coyote.png);
	background-position: center 100%;
	background-color: black;
	background-size: contain;
}
td.teamNumber.t1323.narrow {
	background-position: center 125%;
	background-size: 100%;
	background-size: contain;

	background-image: none;
	background-color: blue;
	
}

td.teamNumber.t973{
	background-image: url(https://yt3.ggpht.com/-vIYcdqWz5LQ/AAAAAAAAAAI/AAAAAAAAAAA/Pdxfm2U-upg/s900-c-k-no-mo-rj-c0xffffff/photo.jpg);
}
td.teamNumber.t973.narrow{
	background-size: 80%;
	background-position: center 35%;
}

td.teamNumber.t971{
	background-image: url(http://robotics.mvla.net/files/frc/Spartan-Robotics-971.png);
	background-size: contain;
}
td.teamNumber.t971.narrow{
	background-size: cover;
}

td.teamNumber.t604{
	background-image: url(https://pbs.twimg.com/profile_images/568667968658087936/pIBWBM8y.png);
}
td.teamNumber.t604.narrow{
	background-position: center 25%;
}

td.teamNumber.t254{
	background-image: url(https://pbs.twimg.com/profile_images/1830614684/poof_400x400.png);
}
td.teamNumber.t254.narrow{
	background-position: center 46%;
	background-size: 75%;
}

td.teamNumber.t148{
	background-image: url(/1323/cache/team_logos/148.png);
	background-color: black;
	background-size: 150%;
}
td.teamNumber.t148.narrow{
	background-position: center top;
}

td.teamNumber.t118{
/*/	background-image: url(https://pbs.twimg.com/profile_images/3401659674/89c45ee1b54de7ab5429de77212f4643_400x400.png);
/*/ background-image: url(/1323/cache/team_logos/118.png);
}
td.teamNumber.t118.narrow{
    background-position: center top;
    background-size: 185%;
}

/* Rules for the yes/no columns */
.Y { background-color: #5F5 !important; }
.N { background-color: #F55 !important; }


html:not(#index-php) #bar, html:not(#index-php) form {display: inline;}



#bar{
  background-color: white;
/*/  height:25px; /** this line was causing problems for viewdata.php on a smaller screen: search form would run into button bar */
}
a{
  text-decoration:none;
  color:white;
}
a:hover{
  color:yellow;
}
td a{
  color:black;
}
td a:hover{
  color:purple;
}
.dif{
  color:black;
}

form {
	width:500px;
	margin:25px auto;
}

.search {
	padding:8px 15px;
	border:0px solid #dbdbdb;
	width:170px;
}

.searchb {
	position:relative;
	padding:6px 15px;
	left:-8px;
	border:2px solid #207cca;
	background-color:#207cca;
	color:#fafafa;
}
.searchb:hover{
	background-color:#fafafa;
	color:#207cca;
}

.button {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:15px;
	font-weight:bold;
	padding:10px 25px;
	text-decoration:none;
	text-shadow:0px 0px 0px #154682;
	margin: 10px;
	width: 125px;
	text-align: center;
}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}
.button:active {
	position:relative;
	top:1px;
}

