.activeauto{
  background-color:#c0c8d6;
}
.spybotstart{
  background-color:#838487;
}
.defensebreach{
  background-color:#c0c8d6;
}
.autolowbar{
  background-color:#838487;
}
.autocullis{
  background-color:#c0c8d6;
}
.autocdf{
  background-color:#838487;
}
.automoat{
  background-color:#c0c8d6;
}
.autoramp{
  background-color:#838487;
}
.autobridge{
  background-color:#c0c8d6;
}
.autosally{
  background-color:#838487;
}
.autorockwall{
  background-color:#c0c8d6;
}
.autorough{
  background-color:#838487;
}
.autohighgoal{
  background-color:#c0c8d6;
}
.autolowgoal{
  background-color:#838487;
}
.shotsfired{
  background-color:#c0c8d6;
}
.highscored{
  background-color:#838487;
}
.lowscored{
  background-color:#c0c8d6;
}
.lowbarcrossed{
  background-color:#838487;
}
.lowhardcrossed{
  background-color:#c0c8d6;
}
.portcullcross{
  background-color:#838487;
}
.porthardcross{
  background-color:#c0c8d6;
}
.cdfcrossed{
  background-color:#838487;
}
.cdfhardcross{
  background-color:#c0c8d6;
}
.moatcross{
  background-color:#838487;
}
.moathardcross{
  background-color:#c0c8d6;
}
.rampcross{
  background-color:#838487;
}
.ramphardcross{
  background-color:#c0c8d6;
}
.drawcross{
  background-color:#838487;
}
.drawhardcross{
  background-color:#c0c8d6;
}
.sallycross{
  background-color:#838487;
}
.sallyhardcross{
  background-color:#c0c8d6;
}
.rockwallcross{
  background-color:#838487;
}
.rockhardcross{
  background-color:#c0c8d6;
}
.roughcross{
  background-color:#838487;
}
.roughhardcross{
  background-color:#c0c8d6;
}
.robotchallenge{
  background-color:#838487;
}
.robotclimb{
  background-color:#c0c8d6;
}
.climbspeed{
  background-color:#838487;
}
.climbsuccess{
  background-color:#c0c8d6;
}
#bar{
  background-color: white;
/**  height:25px; /* this line was causing problems for viewdata.php on a smaller screen: search form would run into button bar */
}
a{
  text-decoration:none;
  color:black;
}
a:hover{
  color:purple;
}
th a{
  color:black;
}
th a:hover{
  color:purple;
}
.dif{
  color:black;
}

form {
	width:500px;
	margin:25px auto;
}

.search {
	padding:8px 15px;
	border:0px solid #dbdbdb;
}

.searchb {
	position:relative;
	padding:6px 15px;
	left:-8px;
	border:2px solid #207cca;
	background-color:#207cca;
	color:#fafafa;
}
.searchb:hover{
	background-color:#fafafa;
	color:#207cca;
}

.button {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:15px;
	font-weight:bold;
	padding:10px 25px;
	text-decoration:none;
	text-shadow:0px 0px 0px #154682;
	margin: 10px;
	width: 125px;
	text-align: center;
}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}
.button:active {
	position:relative;
	top:1px;
}
