.button {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:15px;
	font-weight:bold;
	padding:10px 25px;
	text-decoration:none;
	text-shadow:0px 0px 0px #154682;
	margin: 10px;
	width: 125px;
	text-align: center;
}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}
.button:active {
	position:relative;
	top:1px;
}

a.button.green {
    background: linear-gradient(to bottom, #00a761 5%, #00c17d 100%);
}

a.button.green:hover {
    background: linear-gradient(to bottom, #00c17d 5%, #00a761 100%);
}

a.button.purpley {
    background: linear-gradient(to bottom, #da00b9 5%, #4a039a 100%);
}

a.button.purpley:hover {
    background: linear-gradient(to bottom, #de1dc1 5%, #73039a 100%);
}



.search {
                padding:8px 15px;
                border:0px solid #dbdbdb;
}
div{
	width: 100%;
	margin: 0 auto;
	flex-flow: row wrap;
	text-align: center;
}
form{
	display:flex;
	width:300px;
	margin:25px auto;
}
#index-php a:not(.button) { color: inherit; text-decoration: none; }

#title {
    font-size: 100px;
    display: block;
    -webkit-margin-before: 5px;
    -webkit-margin-after: 5px;
    font-family: Impact, Charcoal, sans-serif;
    color: #0023FE;
}

@media only screen and (max-width: 400px) {
	#title {
		font-size: 2em;
	}
}