table.data>thead, table.data>tbody {
    display: block;
}
table.data>tbody {
    max-height: 640px;
    max-height: 40em;
    max-height: 84vh;
    max-height: calc(100vh - 20em);
    height: auto;
    overflow-y: auto;
}