/*use this css with datastyle, viewdata, and lightbox*/
/*table.data {margin-top: 1em;}*/
table.data {width:90%;-webkit-border-horizontal-spacing:0px;-webkit-border-vertical-spacing:0px;margin-top:1em;}
table.data>tbody>tr.data:nth-of-type(2) {margin-top: initial;} /*override another sheet*/
table.data>thead {border-bottom: solid 1px black;display:block;}
table.data>thead>tr.data {display: flex;/* height: 7em; */padding-top: 7em;/* height: 1.5em; *//* margin-top: 0em; */overflow: hidden;/* align-items: baseline; */}
table.data>thead>tr.data>th {margin: 0px;padding: 0;margin-left: 0px;margin-right: 0px;height: 1.5em;}
table.data>thead>tr.data>th * {color: black;}
table.data>thead>tr.data>th a, tr.data>th p {display:inline;}
table.data th, table.data td {white-space:nowrap;}
tr.data>:not(.teamnumber):not(.notes):not(.tbh) {width: 1.732em !important;max-width:1.732em;min-width: 1.732em;padding: 0;}
table.data>thead>tr.data>th,tr.data>td:not(.notes):not(.tbh) {text-align:center;}
table.data>thead>tr.data>th:not(.teamnumber):not(.notes):not(.tbh)>div {height: 100%;width: 100%;margin-left: 0.125em;margin-top: 0.06125em;}
tr.data>.teamnumber {width: 5em !important;min-width: 4.4em;height: 2.5em}
table.data>thead>tr.data>th.matchnumber>div {margin-left:-0.25em !important;}
table.data>thead>tr.data>th.notes>div,table.data>thead>tr.data>th.tbh>div {transform:none;}
table.data>thead>tr.data>th.teamnumber>div {
	max-width: 1.732em !important;
	width: 1.732em !important;
	min-width: 1.732em !important;
	height: 1.732em;
	margin-left: 0; /* 0.259em; */
}
table.data>thead>tr.data>th.notes,table.data>thead>tr.data>th.tbh{
    padding-top: 8em;
    margin-top: -8em;
    background-color: #838487;
}
table.data>thead>tr.data>th.notes>div>span,table.data>thead>tr.data>th.tbh>div>span{min-width:10em !important;width: 100% !important;text-align:center;padding:0 !important;}

table.data>thead>tr.data>th>div {
    transform:rotate(-60deg);
    /**/
    transform-origin:75% 50%;/**/
    margin-left: 0px;
    margin-right: 0px;
}
table.data>thead>tr.data>th.teamnumber>div>span{line-height:1.732em;}
tr.data>th>div>span {padding-left: 1em;border: none;line-height: 1.5em;display: block;width: 10em;height: 1.5em;text-align: start;}
table.data tr.data>.notes,table.data tr.data>.tbh {
	width: 99% !important;/**/
	min-width: 10em !important;/**/
	white-space:initial !important;/**/
}


/*rules for extending team average headers on viewdata.php*/
html#viewdata-php table#team-avg>thead>tr {padding-top: 10em;}
html#viewdata-php table#team-avg>thead>tr.data>th>div>span {width: 14em;}


/*just for visibility*/
/**/
tr.data>th:nth-of-type(2n+3)>div>span{background-color:#c0c8d6;}
tr.data>th:nth-of-type(2n+4)>div>span{background-color:#838487;}
tr.data>th:nth-of-type(n+3)>div>span{border-top:solid 1px black;}
/*/
tr>th:nth-of-type(even) {background-color:aqua;}
tr>th:nth-of-type(even)>div {background-color:rgba(44, 218, 84, 0.82);}
tr>th:nth-of-type(even)>div>span {background-color:rgba(207, 222, 33, 0.63);}
tr>th:nth-of-type(odd) {background-color:rgba(255, 0, 0, 0.74);}
tr>th:nth-of-type(odd)>div {background-color:rgba(218, 44, 198, 0.82);}
tr>th:nth-of-type(odd)>div>span {background-color:rgba(113, 33, 222, 0.69);}
/**/