html, body {
   width: 100%; 
}
td{
  border:2px solid #DFF4DD;
  margin:0px;
  font-family:"Arial Black", Gadget, sans-serif
}
td:nth-child(-n+4){
  background-color:#f75454;
  border:0px;
  margin:0px;
  padding:10px;
  text-align:center;
  vertical-align:center;
  border-right: 1px solid #ddd;
}
td:nth-child(n+5){
  background-color:#4286f4;
  border:0px;
  margin:0px;
  padding:10px;
  text-align:center;
  vertical-align:center;
  border-right: 1px solid #ddd;
}
#bar{
  background-color: white;
  height:25px;
}
a{
  text-decoration:none;
  color:white;
}
a:hover{
  color:yellow;
}
td a{
  color:black;
}
td a:hover{
  color:purple;
}
.dif{
  color:black;
}
form {
		width:300px;
                margin:25px auto;
}
.search {
                padding:8px 15px;
                border:0px solid #dbdbdb;
}
.searchb {
                position:relative;
                padding:6px 15px;
                left:-8px;
                border:2px solid #207cca;
                background-color:#207cca;
                color:#fafafa;
}
.searchb:hover  {
                background-color:#fafafa;
                color:#207cca;
}
.button {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
	background-color:#007dc1;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:15px;
	font-weight:bold;
	padding:10px 25px;
	text-decoration:none;
	text-shadow:0px 0px 0px #154682;
	margin: 10px;
	width: 125px;
	text-align: center;
}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
	background-color:#0061a7;
}
.button:active {
	position:relative;
	top:1px;
}
table {
  border-collapse: collapse;
  margin: 0 auto;
}
.nope { display: none; }