html, body {
    width: 100%;
}
td{
  border:2px solid #DFF4DD;
  margin:0px;
  font-family:"Arial Black", Gadget, sans-serif
}
.blueteam{
  background-color:#4286f4;
}
.redteam{
  background-color:#f75454;
}
#bar{
  background-color: white;
  height:25px;
}
div div{
  display:inline-block;
  background-color:blue;
  height:21px;
  width:100px;
  margin-top:3px;
  border-radius:5px;
  margin-left:5px;
  text-align:center;
}
a{
  text-decoration:none;
  color:white;
}
a:hover{
  color:yellow;
}
td a{
  color:black;
}
td a:hover{
  color:purple;
}
.dif{
  color:black;
}
form {
		width:300px;
                margin:25px auto;
}

.search {
                padding:8px 15px;
                border:0px solid #dbdbdb;
}
.button {
                position:relative;
                padding:6px 15px;
                left:-8px;
                border:2px solid #207cca;
                background-color:#207cca;
                color:#fafafa;
}
.button:hover  {
                background-color:#fafafa;
                color:#207cca;
}
table {
  border-collapse: collapse;
  margin: 0 auto;
}