td { border: none; }

table.data>tbody>tr.data>td {
	border-top: 1px solid black;
	margin: 0 0 -1px 0;
}


#team-avg>tbody>tr>td:nth-of-type(1n+3) {
	width:1.75em;
	/**/overflow-x:hidden;/**/
}
#team-avg>tbody>tr:first-of-type>td {
	height: 10em;
}


table.data>tbody>tr.data>td:first-of-type, table.data>tbody>tr.data>td:nth-of-type(2) {
	width: 2em;
	/* height: 7em; */
	padding-top: 0px;
	padding-bottom: 0px;
}

table.data>tbody>tr.data {
	display: flex;
	width: 100%;
}

table.data>tbody>tr.data>td:nth-of-type(1n+4) {
	width: 1em;
}

table.data>tbody>tr.data>td.teamname {
	width: 2em;
	overflow-wrap: break-word;
	/* this section is obsolete since the addition of the .nope class to the existing td.teamname elements */
}

table.data>tbody>tr.data>td.teamname, table.data>tbody>tr.data.headrow>td {
	writing-mode: vertical-rl;
	display: inline;
	transform: rotate(180deg);
}
table.data>tbody>tr.data.headrow>td {
	height:10em;
	/* padding-top: 4em; */
	margin-bottom: -4em;
}

td p {
	margin: 0px;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
}

tr {
	/* max-height: 6em; */
}

td.notes {
	width: calc(100% - 770px) !important;
	min-width: 10em;
}
table.data>tbody>tr.data:nth-of-type(2) { margin-top: 4em; }

table.data>tbody>tr.data>td.okay {/* padding-right: 1.05em !important; */ overflow-x: hidden; }
table.data>tbody>tr.data>td.good {
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/2/29/Gold_Star.svg/1000px-Gold_Star.svg.png);
    background-size: 70%;
    background-position: center 80%;
    background-repeat: no-repeat;
}