td { border: none; }

table.data>tbody>tr.data>td {
	border-bottom: 1px solid black;
	margin: 0 0 0px 0;
}


#team-avg>tbody>tr>td:nth-of-type(1n+3) {
	width:1.75em;
	/**/overflow-x:hidden;/**/
}
html#teamaverages-php table#team-avg>tbody>tr:first-of-type>td {
	height: 10em;
}


table.data>tbody>tr.data>td:first-of-type, table.data>tbody>tr.data>td:nth-of-type(2) {
	width: 2em;
	max-height: 7em;
	min-height: 4em;
	padding-top: 0px;
	padding-bottom: 0px;
}

table.data>tbody>tr.data {
	display: flex;
	width: 100%;
}

table.data>tbody>tr.data>td:nth-of-type(1n+4) {
	width: 1em;
}

table.data>tbody>tr.data>td.teamname {
	width: 2em;
	overflow-wrap: break-word;
	/* this section is obsolete since the addition of the .nope class to the existing td.teamname elements */
}

table.data>tbody>tr.data>td.teamname, table.data>tbody>tr.data.headrow>td {
	writing-mode: vertical-rl;
	display: inline;
	transform: rotate(180deg);
}
table.data>tbody>tr.data.headrow>td {
	height:10em;
	/* padding-top: 4em; */
	margin-bottom: -4em;
}

td p {
	margin: 0px;
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;
}

tr {
	/* max-height: 6em; */
}
td.notes {
	overflow-y: auto;
	max-height: 6em;
	width: 30em;
	width: calc(100% - 770px) !important;
	min-width: 10em;
}
table.data>tbody>tr.data:nth-of-type(2n+1)>td.notes {text-align: start;}
table.data>tbody>tr.data:nth-of-type(2n+2)>td.notes {text-align: end;}
table.data>tbody>tr.data:nth-of-type(2) { margin-top: 4em; }

td.rank.v1 {background-color:#5F5 !important;}
td.rank.v2 {background-color:#FF5 !important;}
td.rank.vDNP {background-color:#F55 !important;}
td.blue {background-color:#4286F4 !important;}
td.red {background-color:#F75454 !important;}
