@media only screen and (max-width: 420px) {
    body {
        font-size: 85%;
    }

    .wide {
        visibility: hidden;
        white-space: nowrap;
    }
    table.data > tbody > tr.data > td.wide {
	visibility: visible;
	overflow: hidden;
	transform: scaleY(0);
	padding: 0;
        position: absolute;
        left: 0%;
        margin-top: 2em;
        transform-origin: top;
	transition: transform 0.15s ease-out, visibility 0s linear;
    }
    table.data > tbody > tr.data > td.wide.below {
        transform: scaleY(1);
	min-height: 2em;
        padding-bottom: 0.5em;
        white-space: normal;
    }


    table.data > tbody > tr.data > td:not(.wide) {
        height: 2em;
    }
    th {
        height: 7em;
    }
    table.data > thead {
        height: 7em;
    }
    table.data > tbody {
        padding-top: 7em;
    }
    thead > tr {
        overflow-x: scroll;
    }
}