
table.data>tbody>tr.data>td:nth-of-type(2n):not(.teamNumber) {
    background-color: #838487;
}

table.data>tbody>tr.data>td:nth-of-type(2n+1):not(.teamNumber) {
    background-color: #C0C8D6;
}


table.data>tbody>tr.data>td.wide {
	text-align: start;
}

table.data>tbody>tr.data:nth-of-type(2n+1)>td.wide {
	/*text-align: start;*/
}

table.data>tbody>tr.data:nth-of-type(2n+2)>td.wide {
	background: #CCCCDA;
	/*text-align: end;*/
}

/* Rules for the yes/no columns */
.bool[data-value='1'], .bool.trueIsBad[data-value='0'] { background-color: #5F5 !important; }
.bool[data-value='0'], .bool.trueIsBad[data-value='1'] { background-color: #F55 !important; }

/* Rules for team color */
tr.red > td.matchNumber { background-color: #F55 !important; }
tr.blue > td.matchNumber { background-color: #2468FF !important; }


