* {
	box-sizing: border-box;
	border-spacing: 0;
}

:not(.wide) {
/*	white-space: nowrap;*/
}

body {
	margin: 0;
	height: 100%;
	height: 100vh;
	width: 100%;
	width: 100vw;
}

table.data {
	border-spacing: 0;
	border-collapse: collapse;
	position: absolute;
	width: 100%;
	height: 100%;
}

table.data > thead {
	position: fixed;
	top: 0;
	width: 100%;
	height: 8.5em;
	z-index: 10000;
}

table.data > tbody {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	padding-top: 8.5em;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

tr.data > * {
	text-align: center;
}

tr.data > :not(.medium):not(.wide) {
	width: 1.75em;
	min-width: 1.75em;
	max-width: 1.75em;
}

tr.data > .medium {
	width: 4em;
	min-width: 4em;
	max-width: 4em;
	height: 3em;
}

tr.data > .wide {
	width: 99%;
}

/* for return link on table pages */

a#return {
    display: block;
    bottom: 0px;
    position: fixed;
    width: 100%;
    width: 100vw;
    text-align: center;
    padding: 0.5em;
    background: #0077C8;
    color: black;
    text-decoration: none;
}