thead > tr {
	position: absolute;
	top: 0;
	height: 100%;
	overflow: hidden;
	background: #58585B;
}

th {
	height: 8.5em;
	vertical-align: bottom;
}

.tilt {
	margin-top: 0.0em;
	height: 1.5em;
	transform: translateX(-1.0px) translateY(100%) rotate(-60deg) translateX(-1px);
	transform-origin: 0 0;
	width: 20em;
	width: 100vw;
	border-top: 1px solid black;
}

.tilt.medium {
	height: 3.5em;
}

th:nth-of-type(2n) .tilt{
	background: #58585B;
	background: #838487;
}

th:nth-of-type(2n+1) .tilt {
	background: #AAAAAA;
}

.tilt span {
	text-align: start;
	padding: 0.2em 0em 1.2em;
	line-height: 1em;
	display: block;
	transform: translateX(1.5em);
}

.tilt.medium span {
	transform: translate(2.0em, 1em);
}
