* { box-sizing: border-box; }

body { margin: 0px; padding: 0em; width: 100vw; height: 100vh; }

form {
    height: 95%;
    width: 100%;
}

form > * {
	width: 100%;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-webkit-appearance: none;
}

#teamNumber {
    height: 30%;
    margin-bottom: 2%;
    text-align: center;
    font-size: 2em;
    background: green;
    background: rgb(0,104,71);
}
#teamNumber::placeholder {
    color: black;
}

.file-styler {
    display: block;
    text-align: center;
    position: relative;
    vertical-align: middle;
    padding: 17.5%;
    margin-bottom: 2%;
}
.file-styler::before {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
/*    background-image: url(images/mexicooooo.png);*/
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(90deg);
}

[type=file] {/* display: none; */}

[type=submit] {
    height: 30%;
    background: red;
    background: rgb(206,17,38);
    font-size: 2em;
}

a#return {
    display: block;
    bottom: 0px;
    position: fixed;
    width: 100%;
    width: 100vw;
    text-align: center;
    padding: 0.5em;
    background: #0077C8;
    color: black;
    text-decoration: none;
}
