div#photo-container {
    position: fixed;
    bottom: 2em; /* for return btn */
    width: 100%;
    height: 16%;
    height: calc(20% - 2em); /* for return button at bottom */
    overflow-x: scroll;
    white-space: nowrap;
    overflow-y: hidden;
}

#photo-container img, #photo-container a {
    display: inline;
    height: 100%;
}