
a {
	color: #DDDDDD; /* original *//*
	color: #4B0082;
	color: #C71585;/**/
	text-decoration: none;
}

body {
	background-color: #333333; /* original *//*
	background-color: #B22222;
	background-color: #FF1493;
	background-color: #DAA520;
	background-color: #ADD8E6;/**/
	padding: 0;
	margin: 0;
	font-size: 14pt;
	font-family: Helvetica, 'Open Sans', Helvetica, Arial, sans-serif;
	overflow-x: hidden;
}

nav>ul {
    width: 100vw;
    overflow-x: hidden;
}

ul, li {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
	width: 100%;
	width: 100vw;
}
/*
li a, li .a {
	width: 100%;
	display: block;
	border-bottom: 1px solid #58585B;
	border-bottom: 1px solid #0077C8;
	padding: 0.55em;
	padding: 1em;
	padding-left: 2em;

/* I think the following section has been obsoleted by li>:not(ul) */
/*	background: linear-gradient(#333333, #393939, #333333);
/* From www.colorzilla.com/gradient-editor/ */
/*	background: #333333;
	background: -moz-linear-gradient(top, #333333 0%, #393939 50%, #333333 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(50%,#393939), color-stop(100%,#333333));
	background: -webkit-linear-gradient(top, #333333 0%,#393939 50%,#333333 100%);
	background: -o-linear-gradient(top, #333333 0%,#393939 50%,#333333 100%);
	background: -ms-linear-gradient(top, #333333 0%,#393939 50%,#333333 100%);
	background: linear-gradient(to bottom, #333333 0%,#393939 50%,#333333 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333',GradientType=0 );

}

li a:hover {
	background: linear-gradient(#333333,#2f2f33,#333333);
}
/*
li.scout a:hover {background: linear-gradient(#333333,#2f332f,#333333);}
li.beta a:hover {background: linear-gradient(#333333,#332f33,#333333);}
/**/
li>:not(ul) {
	width: 100%;
	display: block;
	border-bottom: 1px solid #58585B;
	border-bottom: 1px solid #0077C8;
	padding: 0.55em;
	padding: 1em;
	padding-left: 2em;
	background: #333333;
}

li>a:hover {
    background: #58585B;
}

li>ul>li>a {
	padding-left: 4em;
}

li.heading {
	height:50px;
	border-bottom: 1px solid #58585B;
	border-bottom: 1px solid #0077C8;
}

span.heading {
	display: block;
	height: 100%;
	background-repeat: no-repeat;
	font-size: 40px;
	line-height: 50px;
	font-style: italic;
	font-weight: bold;
	padding: 0;
}
span.logo {
	line-height: 50px;
	padding-left: 55px;
	background-image: url(http://team1323.com/wp-content/uploads/2017/06/coyote-blue-transparent-100-1-e1498948897974.png);
}
span.heading>a {
    display: inline;
    color: inherit;
    padding: 0;
    background: transparent;
    border: none;
}


/* Responsive stuff! */

.heading.wide-screen {display: none;}
.heading.narrow-screen {display: block;}

@media screen and (min-width: 32em)
{
    .heading.narrow-screen {
        display: none;
    }
    .heading.wide-screen {
        display: block;
    }

}