body {
    margin: 0;
    padding: 0;
}

table#input {
    width: 100%;
    width: 100vw;
    height: 100%;
    height 100vh;
    position: fixed;
}

td {
    width: calc(100% / 3);
    width: calc(100vw / 3);
}

td[data-color=red] {
    background: #D22630;
}
td[data-color=blue] {
    background: #0078C8;
    background: #2374bb;
}
td.swap {
    background: #00953A;
    height: 15%;
}

td.box {
    text-align: center;
    font-size: 500%;
    font-family: monospace, sans-serif;
}